body {
    background-color: #f5f5dc; /* бежевый */
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.section {
    display: flex;
    padding: 40px 20px;
    gap: 20px;
    border-bottom: 2px solid black; /* линия между секциями */
    flex-wrap: wrap;
}

.hero .left, .news .right,
.hero .right, .news .left {
    flex: 1;
    min-width: 300px;
}

.hero .right {
    display: flex;
    align-items: center; /* Центрирует текст по вертикали */
    justify-content: center;
    text-align: left;
}

.hero .right p{
    font-size: 25px;
    line-height: 1.7;
}

.hero-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 2px solid #a89f91;
}

.news-img {
    width: 100%;
    max-width: 350px; /* уменьшили */
    height: auto;
    border: 2px solid #a89f91;
}
.news {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.news-item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;      /* Важно: выравнивание по вертикали */
    justify-content: space-between;
}

.news-item .left,
.news-item .right {
    flex: 1;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center; /* Центрирование содержимого по горизонтали */
}

.news-text {
    display: flex;
    align-items: center; /* Центрирует текст по вертикали */
    justify-content: center;
    text-align: left;
}
.news-text p {
    font-size: 25px;
    line-height: 1.6;
    max-width: 500px;
}

.fancy-title {
    font-size: 28px;
    text-align: center;
    margin: 40px 0 20px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4); /* тень текста */
}

.products {
    text-align: center;
    padding: 40px 20px;
    display: flex;
    justify-content: center; /* Центрует .product-row */
}

.product-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    text-align: center;
    max-width: 1000px; /* ограничим ширину, чтобы не растягивалось */
}

.product-row img {
    width: 200px;
    height: auto;
    border: 1px solid #ccc;
}

.product-text {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}
.product-item {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центровка содержимого */
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    border: 2px solid #a89f91; /* теплый цвет рамки */
    margin-bottom: 10px;
}

.product-item p {
    font-size: 16px;
    margin-top: 10px;
    margin: 0;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #fff;
}
